h1{
    background-color: blue;
}

h2{
    background-color: red;

    color: rgba(0, 0, 0, 0.664);
}

p{
font-weight: bold;

font-size: larger;

text-align: center;

}

ul{
 font-style: italic;

 text-shadow: 1px 2px 3px red;

}


ol{
 font-style: italic;

 text-shadow: 1px 2px 3px rgb(0, 38, 255);

}