h1 { 

     background: blue; 

} 

h2 { 

     background: red; 

     color: rgba(0,0,0,0.4); 

} 

p { 

     font-family: Verdana Helvetica sans-serif;

     font-size: 1.15em; 

     font-weight: bold; text-align: center; 

} 

ul { 

     font-style: italic; 

     text-shadow: 2px 2px 4px red; 

} 

ol {

     text-shadow: 2px 2px 5px darkblue; 

}