body{

    display: flex;

background-color: gray;

    align-items: center;

    justify-content: center;
}

#receta{

display: flex;

background-color: rgb(255, 255, 255);

border-radius: 20px;

box-shadow: 12px 12px 15px rgb(44, 43, 43);

flex-direction: column;

max-width: 800px;

padding: 5%;






}




h1{

background-color: white;

border-radius: 20px;

}

@media (min-width: 700px){

#receta{

flex-direction: row;

gap: 10%;

}

.preparacion{

width: 500px;

}




}