#box{
border: 2px solid black;
text-align: justify;
background-color: rgb(255, 163, 101);
padding: 10px;
width: 350px;
margin: 20px;
max-width: 500px;
 font-family: "Bitcount Prop Single", system-ui;


}


body{

height: 100%;

}

@media (max-width: 600px){

    #box{


    background-color: rgb(193, 255, 111);
    padding: 10px;

    max-width: 500px;

    font-size: smaller;

    }


}