body {
    background-color: #B5F4FF;
}
#titulo-web {
 font-family: Helvetica;
}

header{
background-color: #007bff
}

a{
    color: white;
    text-decoration: none  
}

a:hover {
    color: red

}

#contenido {padding: 20px;}

#titulo-contenido {
    font-size: 40px;
}

#parrafo{
    font-size: 20px;
    color: rgb(6, 6, 85);
}

footer {
        background-color: #333;
        color: white;
        text-align: center;
}