body {
    background-color: #B5F4FF;
}
#titulo-web {
 font-family: Helvetica;

 border-left: solid rgb(255, 255, 255) 5px;

 border-right: solid rgb(255, 255, 255) 5px;

 border-top: solid rgb(255, 255, 255) 5px;

border-bottom: solid rgb(255, 255, 255) 5px;

border-radius: 30%;

text-align: center;
}

header{
background-color: #007bff;
text-align: center;
}

a{
    color: white;
    text-decoration: none  
}

a:hover {
    color: red

}

#contenido {padding: 20px;

    display: flex;

    flex-direction: column;

    align-items: center;

    text-align: justify;
}

#titulo-contenido {
    font-size: 40px;
    margin-top: 40px;
}

#parrafo{
    font-size: 20px;
    color: dotted rgb(6, 6, 85);
    margin-top: 40px;
}

footer {
        background-color: #333;
        color: white;
        text-align: center;
}

#imagen{
    margin-top: 40px;
     margin-bottom: 40px;
}

#imagenHome{
    display: flex;

    flex-direction: row;

    align-items: center;

    justify-content: center;

    margin: 50px;

    
}

#img{
    margin-left: 10%;
}

#fp{

    display: flex;

    flex-direction: row;

}

